.btn {
  position: relative;
  display: block;

  border-radius: 19px;
  border: 1px solid #FFF;
  padding: 12px 32px 12px 32px;
  margin: 0 auto;
  width: max-content;

  font-size: 13px;
  line-height: 1;
  text-align: center;
  background-color: #FFF;
}