.master-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  margin-right: 20px;
  margin-left: 20px;

  &__content {

  }

  &__logo {
    height: 50px;
    width: 150px;
  }

  &__menu {
    width: 150px;
    height: 40px;
  }

  &__bars {
    width: 40px;
    height: 40px;
  }
}